# ClimateWins Project

## Content
### 1. Importing libraries and data
### 2. Data wrangling

# 1. Importing libraries and data

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [5]:
# Create a path
path="C:/Users/Oksana Stepanova/OneDrive/Документи/ClimateWins/Unsupervised/02 Data/"

In [6]:
#Import weather data, original file
df=pd.read_csv(os.path.join(path, 'Original Data', 'Dataset-weather-prediction-dataset-processed.csv'))

In [7]:
df.shape

(22950, 170)

In [8]:
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [9]:
# Import Pleasant weather data set
df_ans=pd.read_csv(os.path.join(path, 'Original Data', 'Dataset-Answers-Weather_Prediction_Pleasant_Weather.csv'))

In [10]:
df_ans.shape

(22950, 16)

In [12]:
df_ans.head()

,DATE,BASEL_pleasant_weather,BELGRADE_pleasant_weather,BUDAPEST_pleasant_weather,DEBILT_pleasant_weather,DUSSELDORF_pleasant_weather,HEATHROW_pleasant_weather,KASSEL_pleasant_weather,LJUBLJANA_pleasant_weather,MAASTRICHT_pleasant_weather,MADRID_pleasant_weather,MUNCHENB_pleasant_weather,OSLO_pleasant_weather,SONNBLICK_pleasant_weather,STOCKHOLM_pleasant_weather,VALENTIA_pleasant_weather
0,19600101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,19600102,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,19600103,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,19600104,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,19600105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## 2. Data wrangling

In [14]:
pd.set_option('display.max_info_columns', 200)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22950 entries, 0 to 22949
Data columns (total 170 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    DATE                         22950 non-null  int64
 1    MONTH                        22950 non-null  int64
 2    BASEL_cloud_cover            22950 non-null  int64
 3    BASEL_wind_speed             22950 non-null  float64
 4    BASEL_humidity               22950 non-null  float64
 5    BASEL_pressure               22950 non-null  float64
 6    BASEL_global_radiation       22950 non-null  float64
 7    BASEL_precipitation          22950 non-null  float64
 8    BASEL_snow_depth             22950 non-null  int64
 9    BASEL_sunshine               22950 non-null  float64
 10   BASEL_temp_mean              22950 non-null  float64
 11   BASEL_temp_min               22950 non-null  float64
 12   BASEL_temp_max               22950 non-null  float64
 13   BELGRADE_cloud_cover         22950 non-null  int64
 14   BELGRADE_humidity            22950 non-null  float64
 15   BELGRADE_pressure            22950 non-null  float64
 16   BELGRADE_global_radiation    22950 non-null  float64
 17   BELGRADE_precipitation       22950 non-null  float64
 18   BELGRADE_sunshine            22950 non-null  float64
 19   BELGRADE_temp_mean           22950 non-null  float64
 20   BELGRADE_temp_min            22950 non-null  float64
 21   BELGRADE_temp_max            22950 non-null  float64
 22   BUDAPEST_cloud_cover         22950 non-null  int64
 23   BUDAPEST_humidity            22950 non-null  float64
 24   BUDAPEST_pressure            22950 non-null  float64
 25   BUDAPEST_global_radiation    22950 non-null  float64
 26   BUDAPEST_precipitation       22950 non-null  float64
 27   BUDAPEST_sunshine            22950 non-null  float64
 28   BUDAPEST_temp_mean           22950 non-null  float64
 29   BUDAPEST_temp_min            22950 non-null  float64
 30   BUDAPEST_temp_max            22950 non-null  float64
 31   DEBILT_cloud_cover           22950 non-null  int64
 32   DEBILT_wind_speed            22950 non-null  float64
 33   DEBILT_humidity              22950 non-null  float64
 34   DEBILT_pressure              22950 non-null  float64
 35   DEBILT_global_radiation      22950 non-null  float64
 36   DEBILT_precipitation         22950 non-null  float64
 37   DEBILT_sunshine              22950 non-null  float64
 38   DEBILT_temp_mean             22950 non-null  float64
 39   DEBILT_temp_min              22950 non-null  float64
 40   DEBILT_temp_max              22950 non-null  float64
 41   DUSSELDORF_cloud_cover       22950 non-null  int64
 42   DUSSELDORF_wind_speed        22950 non-null  float64
 43   DUSSELDORF_humidity          22950 non-null  float64
 44   DUSSELDORF_pressure          22950 non-null  float64
 45   DUSSELDORF_global_radiation  22950 non-null  float64
 46   DUSSELDORF_precipitation     22950 non-null  float64
 47   DUSSELDORF_snow_depth        22950 non-null  int64
 48   DUSSELDORF_sunshine          22950 non-null  float64
 49   DUSSELDORF_temp_mean         22950 non-null  float64
 50   DUSSELDORF_temp_min          22950 non-null  float64
 51   DUSSELDORF_temp_max          22950 non-null  float64
 52   GDANSK_cloud_cover           22950 non-null  int64
 53   GDANSK_humidity              22950 non-null  float64
 54   GDANSK_precipitation         22950 non-null  float64
 55   GDANSK_snow_depth            22950 non-null  int64
 56   GDANSK_temp_mean             22950 non-null  float64
 57   GDANSK_temp_min              22950 non-null  float64
 58   GDANSK_temp_max              22950 non-null  float64
 59   HEATHROW_cloud_cover         22950 non-null  int64
 60   HEATHROW_humidity            22950 non-null  float64
 61   HEATHROW_pressure            22950 non-null  float64
 62   HEATHROW_global_radiation    22950 non-null  float64
 63   HEATHROW_precipitation       22950 non-null  float64
 64   HEATHROW_snow_depth          22950 non-null  int64
 65   HEATHROW_sunshine            22950 non-null  float64
 66   HEATHROW_temp_mean           22950 non-null  float64
 67   HEATHROW_temp_min            22950 non-null  float64
 68   HEATHROW_temp_max            22950 non-null  float64
 69   KASSEL_wind_speed            22950 non-null  float64
 70   KASSEL_humidity              22950 non-null  float64
 71   KASSEL_pressure              22950 non-null  float64
 72   KASSEL_global_radiation      22950 non-null  float64
 73   KASSEL_precipitation         22950 non-null  float64
 74   KASSEL_sunshine              22950 non-null  float64
 75   KASSEL_temp_mean             22950 non-null  float64
 76   KASSEL_temp_min              22950 non-null  float64
 77   KASSEL_temp_max              22950 non-null  float64
 78   LJUBLJANA_cloud_cover        22950 non-null  int64
 79   LJUBLJANA_wind_speed         22950 non-null  float64
 80   LJUBLJANA_humidity           22950 non-null  float64
 81   LJUBLJANA_pressure           22950 non-null  float64
 82   LJUBLJANA_global_radiation   22950 non-null  float64
 83   LJUBLJANA_precipitation      22950 non-null  float64
 84   LJUBLJANA_sunshine           22950 non-null  float64
 85   LJUBLJANA_temp_mean          22950 non-null  float64
 86   LJUBLJANA_temp_min           22950 non-null  float64
 87   LJUBLJANA_temp_max           22950 non-null  float64
 88   MAASTRICHT_cloud_cover       22950 non-null  int64
 89   MAASTRICHT_wind_speed        22950 non-null  float64
 90   MAASTRICHT_humidity          22950 non-null  float64
 91   MAASTRICHT_pressure          22950 non-null  float64
 92   MAASTRICHT_global_radiation  22950 non-null  float64
 93   MAASTRICHT_precipitation     22950 non-null  float64
 94   MAASTRICHT_sunshine          22950 non-null  float64
 95   MAASTRICHT_temp_mean         22950 non-null  float64
 96   MAASTRICHT_temp_min          22950 non-null  float64
 97   MAASTRICHT_temp_max          22950 non-null  float64
 98   MADRID_cloud_cover           22950 non-null  int64
 99   MADRID_wind_speed            22950 non-null  float64
 100  MADRID_humidity              22950 non-null  float64
 101  MADRID_pressure              22950 non-null  float64
 102  MADRID_global_radiation      22950 non-null  float64
 103  MADRID_precipitation         22950 non-null  float64
 104  MADRID_sunshine              22950 non-null  float64
 105  MADRID_temp_mean             22950 non-null  float64
 106  MADRID_temp_min              22950 non-null  float64
 107  MADRID_temp_max              22950 non-null  float64
 108  MUNCHENB_cloud_cover         22950 non-null  int64
 109  MUNCHENB_humidity            22950 non-null  float64
 110  MUNCHENB_global_radiation    22950 non-null  float64
 111  MUNCHENB_precipitation       22950 non-null  float64
 112  MUNCHENB_snow_depth          22950 non-null  int64
 113  MUNCHENB_sunshine            22950 non-null  float64
 114  MUNCHENB_temp_mean           22950 non-null  float64
 115  MUNCHENB_temp_min            22950 non-null  float64
 116  MUNCHENB_temp_max            22950 non-null  float64
 117  OSLO_cloud_cover             22950 non-null  int64
 118  OSLO_wind_speed              22950 non-null  float64
 119  OSLO_humidity                22950 non-null  float64
 120  OSLO_pressure                22950 non-null  float64
 121  OSLO_global_radiation        22950 non-null  float64
 122  OSLO_precipitation           22950 non-null  float64
 123  OSLO_snow_depth              22950 non-null  int64
 124  OSLO_sunshine                22950 non-null  float64
 125  OSLO_temp_mean               22950 non-null  float64
 126  OSLO_temp_min                22950 non-null  float64
 127  OSLO_temp_max                22950 non-null  float64
 128  ROMA_cloud_cover             22950 non-null  int64
 129  ROMA_wind_speed              22950 non-null  float64
 130  ROMA_humidity                22950 non-null  float64
 131  ROMA_pressure                22950 non-null  float64
 132  ROMA_sunshine                22950 non-null  float64
 133  ROMA_temp_mean               22950 non-null  float64
 134  SONNBLICK_cloud_cover        22950 non-null  int64
 135  SONNBLICK_wind_speed         22950 non-null  float64
 136  SONNBLICK_humidity           22950 non-null  float64
 137  SONNBLICK_pressure           22950 non-null  float64
 138  SONNBLICK_global_radiation   22950 non-null  float64
 139  SONNBLICK_precipitation      22950 non-null  float64
 140  SONNBLICK_sunshine           22950 non-null  float64
 141  SONNBLICK_temp_mean          22950 non-null  float64
 142  SONNBLICK_temp_min           22950 non-null  float64
 143  SONNBLICK_temp_max           22950 non-null  float64
 144  STOCKHOLM_cloud_cover        22950 non-null  int64
 145  STOCKHOLM_pressure           22950 non-null  float64
 146  STOCKHOLM_global_radiation   22950 non-null  float64
 147  STOCKHOLM_precipitation      22950 non-null  float64
 148  STOCKHOLM_sunshine           22950 non-null  float64
 149  STOCKHOLM_temp_mean          22950 non-null  float64
 150  STOCKHOLM_temp_min           22950 non-null  float64
 151  STOCKHOLM_temp_max           22950 non-null  float64
 152  TOURS_wind_speed             22950 non-null  float64
 153  TOURS_humidity               22950 non-null  float64
 154  TOURS_pressure               22950 non-null  float64
 155  TOURS_global_radiation       22950 non-null  float64
 156  TOURS_precipitation          22950 non-null  float64
 157  TOURS_temp_mean              22950 non-null  float64
 158  TOURS_temp_min               22950 non-null  float64
 159  TOURS_temp_max               22950 non-null  float64
 160  VALENTIA_cloud_cover         22950 non-null  int64
 161  VALENTIA_humidity            22950 non-null  float64
 162  VALENTIA_pressure            22950 non-null  float64
 163  VALENTIA_global_radiation    22950 non-null  float64
 164  VALENTIA_precipitation       22950 non-null  float64
 165  VALENTIA_snow_depth          22950 non-null  int64
 166  VALENTIA_sunshine            22950 non-null  float64
 167  VALENTIA_temp_mean           22950 non-null  float64
 168  VALENTIA_temp_min            22950 non-null  float64
 169  VALENTIA_temp_max            22950 non-null  float64
dtypes: float64(145), int64(25)
memory usage: 29.8 MB

In [16]:
df_ans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22950 entries, 0 to 22949
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   DATE                         22950 non-null  int64
 1   BASEL_pleasant_weather       22950 non-null  int64
 2   BELGRADE_pleasant_weather    22950 non-null  int64
 3   BUDAPEST_pleasant_weather    22950 non-null  int64
 4   DEBILT_pleasant_weather      22950 non-null  int64
 5   DUSSELDORF_pleasant_weather  22950 non-null  int64
 6   HEATHROW_pleasant_weather    22950 non-null  int64
 7   KASSEL_pleasant_weather      22950 non-null  int64
 8   LJUBLJANA_pleasant_weather   22950 non-null  int64
 9   MAASTRICHT_pleasant_weather  22950 non-null  int64
 10  MADRID_pleasant_weather      22950 non-null  int64
 11  MUNCHENB_pleasant_weather    22950 non-null  int64
 12  OSLO_pleasant_weather        22950 non-null  int64
 13  SONNBLICK_pleasant_weather   22950 non-null  int64
 14  STOCKHOLM_pleasant_weather   22950 non-null  int64
 15  VALENTIA_pleasant_weather    22950 non-null  int64
dtypes: int64(16)
memory usage: 2.8 MB

In [17]:
# Remove all the columns containing the name of three cities: GDANSK, ROMA, TOURS which don't exist in Pleasant weather data set
# Create a pattern 
pattern=r'(GDANSK|ROMA|TOURS)'

# Filter the columns to remove
columns_to_remove=df.filter(regex=pattern).columns

In [18]:
columns_to_remove.shape

(21,)

In [19]:
columns_to_remove

Index(['GDANSK_cloud_cover', 'GDANSK_humidity', 'GDANSK_precipitation',
       'GDANSK_snow_depth', 'GDANSK_temp_mean', 'GDANSK_temp_min',
       'GDANSK_temp_max', 'ROMA_cloud_cover', 'ROMA_wind_speed',
       'ROMA_humidity', 'ROMA_pressure', 'ROMA_sunshine', 'ROMA_temp_mean',
       'TOURS_wind_speed', 'TOURS_humidity', 'TOURS_pressure',
       'TOURS_global_radiation', 'TOURS_precipitation', 'TOURS_temp_mean',
       'TOURS_temp_min', 'TOURS_temp_max'],
      dtype='object')

In [20]:
# Remove the columns and create a new data set
df_drop=df.drop(columns=columns_to_remove, inplace=False)

In [21]:
df_drop.shape

(22950, 149)

In [22]:
# Check for missing values
df_drop.isnull().sum()

DATE                   0
MONTH                  0
BASEL_cloud_cover      0
BASEL_wind_speed       0
BASEL_humidity         0
                      ..
VALENTIA_snow_depth    0
VALENTIA_sunshine      0
VALENTIA_temp_mean     0
VALENTIA_temp_min      0
VALENTIA_temp_max      0
Length: 149, dtype: int64

In [23]:
# Remove all the columns containing the two observations: wind_speed and snow_depth  
# Create a pattern 
pattern_1=r'(wind_speed|snow_depth)'

# Filter the columns to remove
columns_to_remove_1=df_drop.filter(regex=pattern_1).columns

In [24]:
columns_to_remove_1.shape

(15,)

In [25]:
columns_to_remove_1

Index(['BASEL_wind_speed', 'BASEL_snow_depth', 'DEBILT_wind_speed',
       'DUSSELDORF_wind_speed', 'DUSSELDORF_snow_depth', 'HEATHROW_snow_depth',
       'KASSEL_wind_speed', 'LJUBLJANA_wind_speed', 'MAASTRICHT_wind_speed',
       'MADRID_wind_speed', 'MUNCHENB_snow_depth', 'OSLO_wind_speed',
       'OSLO_snow_depth', 'SONNBLICK_wind_speed', 'VALENTIA_snow_depth'],
      dtype='object')

In [26]:
# Remove the columns and create a new data set
df_drop_1=df_drop.drop(columns=columns_to_remove_1, inplace=False)

In [27]:
df_drop_1.shape

(22950, 134)

In [28]:
# Add three new columns cloud_cover, pressure and humidity for three locations and copy the values from the closest weather staions
df_drop_1[['KASSEL_cloud_cover', 'MUNCHENB_pressue', 'STOCKHOLM_humidity']]=df_drop_1[['LJUBLJANA_cloud_cover', 'SONNBLICK_pressure', 'OSLO_humidity']].copy()

In [29]:
df_drop_1.shape

(22950, 137)

In [30]:
df_drop_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22950 entries, 0 to 22949
Data columns (total 137 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    DATE                         22950 non-null  int64
 1    MONTH                        22950 non-null  int64
 2    BASEL_cloud_cover            22950 non-null  int64
 3    BASEL_humidity               22950 non-null  float64
 4    BASEL_pressure               22950 non-null  float64
 5    BASEL_global_radiation       22950 non-null  float64
 6    BASEL_precipitation          22950 non-null  float64
 7    BASEL_sunshine               22950 non-null  float64
 8    BASEL_temp_mean              22950 non-null  float64
 9    BASEL_temp_min               22950 non-null  float64
 10   BASEL_temp_max               22950 non-null  float64
 11   BELGRADE_cloud_cover         22950 non-null  int64
 12   BELGRADE_humidity            22950 non-null  float64
 13   BELGRADE_pressure            22950 non-null  float64
 14   BELGRADE_global_radiation    22950 non-null  float64
 15   BELGRADE_precipitation       22950 non-null  float64
 16   BELGRADE_sunshine            22950 non-null  float64
 17   BELGRADE_temp_mean           22950 non-null  float64
 18   BELGRADE_temp_min            22950 non-null  float64
 19   BELGRADE_temp_max            22950 non-null  float64
 20   BUDAPEST_cloud_cover         22950 non-null  int64
 21   BUDAPEST_humidity            22950 non-null  float64
 22   BUDAPEST_pressure            22950 non-null  float64
 23   BUDAPEST_global_radiation    22950 non-null  float64
 24   BUDAPEST_precipitation       22950 non-null  float64
 25   BUDAPEST_sunshine            22950 non-null  float64
 26   BUDAPEST_temp_mean           22950 non-null  float64
 27   BUDAPEST_temp_min            22950 non-null  float64
 28   BUDAPEST_temp_max            22950 non-null  float64
 29   DEBILT_cloud_cover           22950 non-null  int64
 30   DEBILT_humidity              22950 non-null  float64
 31   DEBILT_pressure              22950 non-null  float64
 32   DEBILT_global_radiation      22950 non-null  float64
 33   DEBILT_precipitation         22950 non-null  float64
 34   DEBILT_sunshine              22950 non-null  float64
 35   DEBILT_temp_mean             22950 non-null  float64
 36   DEBILT_temp_min              22950 non-null  float64
 37   DEBILT_temp_max              22950 non-null  float64
 38   DUSSELDORF_cloud_cover       22950 non-null  int64
 39   DUSSELDORF_humidity          22950 non-null  float64
 40   DUSSELDORF_pressure          22950 non-null  float64
 41   DUSSELDORF_global_radiation  22950 non-null  float64
 42   DUSSELDORF_precipitation     22950 non-null  float64
 43   DUSSELDORF_sunshine          22950 non-null  float64
 44   DUSSELDORF_temp_mean         22950 non-null  float64
 45   DUSSELDORF_temp_min          22950 non-null  float64
 46   DUSSELDORF_temp_max          22950 non-null  float64
 47   HEATHROW_cloud_cover         22950 non-null  int64
 48   HEATHROW_humidity            22950 non-null  float64
 49   HEATHROW_pressure            22950 non-null  float64
 50   HEATHROW_global_radiation    22950 non-null  float64
 51   HEATHROW_precipitation       22950 non-null  float64
 52   HEATHROW_sunshine            22950 non-null  float64
 53   HEATHROW_temp_mean           22950 non-null  float64
 54   HEATHROW_temp_min            22950 non-null  float64
 55   HEATHROW_temp_max            22950 non-null  float64
 56   KASSEL_humidity              22950 non-null  float64
 57   KASSEL_pressure              22950 non-null  float64
 58   KASSEL_global_radiation      22950 non-null  float64
 59   KASSEL_precipitation         22950 non-null  float64
 60   KASSEL_sunshine              22950 non-null  float64
 61   KASSEL_temp_mean             22950 non-null  float64
 62   KASSEL_temp_min              22950 non-null  float64
 63   KASSEL_temp_max              22950 non-null  float64
 64   LJUBLJANA_cloud_cover        22950 non-null  int64
 65   LJUBLJANA_humidity           22950 non-null  float64
 66   LJUBLJANA_pressure           22950 non-null  float64
 67   LJUBLJANA_global_radiation   22950 non-null  float64
 68   LJUBLJANA_precipitation      22950 non-null  float64
 69   LJUBLJANA_sunshine           22950 non-null  float64
 70   LJUBLJANA_temp_mean          22950 non-null  float64
 71   LJUBLJANA_temp_min           22950 non-null  float64
 72   LJUBLJANA_temp_max           22950 non-null  float64
 73   MAASTRICHT_cloud_cover       22950 non-null  int64
 74   MAASTRICHT_humidity          22950 non-null  float64
 75   MAASTRICHT_pressure          22950 non-null  float64
 76   MAASTRICHT_global_radiation  22950 non-null  float64
 77   MAASTRICHT_precipitation     22950 non-null  float64
 78   MAASTRICHT_sunshine          22950 non-null  float64
 79   MAASTRICHT_temp_mean         22950 non-null  float64
 80   MAASTRICHT_temp_min          22950 non-null  float64
 81   MAASTRICHT_temp_max          22950 non-null  float64
 82   MADRID_cloud_cover           22950 non-null  int64
 83   MADRID_humidity              22950 non-null  float64
 84   MADRID_pressure              22950 non-null  float64
 85   MADRID_global_radiation      22950 non-null  float64
 86   MADRID_precipitation         22950 non-null  float64
 87   MADRID_sunshine              22950 non-null  float64
 88   MADRID_temp_mean             22950 non-null  float64
 89   MADRID_temp_min              22950 non-null  float64
 90   MADRID_temp_max              22950 non-null  float64
 91   MUNCHENB_cloud_cover         22950 non-null  int64
 92   MUNCHENB_humidity            22950 non-null  float64
 93   MUNCHENB_global_radiation    22950 non-null  float64
 94   MUNCHENB_precipitation       22950 non-null  float64
 95   MUNCHENB_sunshine            22950 non-null  float64
 96   MUNCHENB_temp_mean           22950 non-null  float64
 97   MUNCHENB_temp_min            22950 non-null  float64
 98   MUNCHENB_temp_max            22950 non-null  float64
 99   OSLO_cloud_cover             22950 non-null  int64
 100  OSLO_humidity                22950 non-null  float64
 101  OSLO_pressure                22950 non-null  float64
 102  OSLO_global_radiation        22950 non-null  float64
 103  OSLO_precipitation           22950 non-null  float64
 104  OSLO_sunshine                22950 non-null  float64
 105  OSLO_temp_mean               22950 non-null  float64
 106  OSLO_temp_min                22950 non-null  float64
 107  OSLO_temp_max                22950 non-null  float64
 108  SONNBLICK_cloud_cover        22950 non-null  int64
 109  SONNBLICK_humidity           22950 non-null  float64
 110  SONNBLICK_pressure           22950 non-null  float64
 111  SONNBLICK_global_radiation   22950 non-null  float64
 112  SONNBLICK_precipitation      22950 non-null  float64
 113  SONNBLICK_sunshine           22950 non-null  float64
 114  SONNBLICK_temp_mean          22950 non-null  float64
 115  SONNBLICK_temp_min           22950 non-null  float64
 116  SONNBLICK_temp_max           22950 non-null  float64
 117  STOCKHOLM_cloud_cover        22950 non-null  int64
 118  STOCKHOLM_pressure           22950 non-null  float64
 119  STOCKHOLM_global_radiation   22950 non-null  float64
 120  STOCKHOLM_precipitation      22950 non-null  float64
 121  STOCKHOLM_sunshine           22950 non-null  float64
 122  STOCKHOLM_temp_mean          22950 non-null  float64
 123  STOCKHOLM_temp_min           22950 non-null  float64
 124  STOCKHOLM_temp_max           22950 non-null  float64
 125  VALENTIA_cloud_cover         22950 non-null  int64
 126  VALENTIA_humidity            22950 non-null  float64
 127  VALENTIA_pressure            22950 non-null  float64
 128  VALENTIA_global_radiation    22950 non-null  float64
 129  VALENTIA_precipitation       22950 non-null  float64
 130  VALENTIA_sunshine            22950 non-null  float64
 131  VALENTIA_temp_mean           22950 non-null  float64
 132  VALENTIA_temp_min            22950 non-null  float64
 133  VALENTIA_temp_max            22950 non-null  float64
 134  KASSEL_cloud_cover           22950 non-null  int64
 135  MUNCHENB_pressue             22950 non-null  float64
 136  STOCKHOLM_humidity           22950 non-null  float64
dtypes: float64(120), int64(17)
memory usage: 24.0 MB

In [31]:
# Move the added columns within dataframe
cols=df_drop_1.columns.tolist()

In [32]:
col_134=cols[134] # Column 134 = KASSEL_cloud_cover 
col_135=cols[135] # Column 135 = MUNCHENB_pressue 
col_136=cols[136] # Column 136 = STOCKHOLM_humidity

cols_reordered=(
    cols[:56] +         # Columns before the column with index 56 (up to and including index 55)
    [col_134] +         # Place the column 134 between columns 55 and 56
    cols[56:93] +       # Columns from index 56 up to (but not including) index 93
    [col_135]+          # Place the column 135 between columns 92 and 93
    cols[93:118]+       # Columns from index 93 up to (but not including) index 118
    [col_136]+          # Place the column 136 between columns 117 and 118
    cols[118:134]       # Columns after index 118 and up to 134 (but not included)
)

In [33]:
df_drop_2=df_drop_1[cols_reordered]

In [34]:
df_drop_2.shape

(22950, 137)

In [35]:
df_drop_2.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_max,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,0.85,1.018,0.32,0.09,0.7,6.5,0.8,...,4.9,5,0.88,1.0003,0.45,0.34,4.7,8.5,6.0,10.9
1,19600102,1,6,0.84,1.018,0.36,1.05,1.1,6.1,3.3,...,5.0,7,0.91,1.0007,0.25,0.84,0.7,8.9,5.6,12.1
2,19600103,1,8,0.90,1.018,0.18,0.30,0.0,8.5,5.1,...,4.1,7,0.91,1.0096,0.17,0.08,0.1,10.5,8.1,12.9
3,19600104,1,3,0.92,1.018,0.58,0.00,4.1,6.3,3.8,...,2.3,7,0.86,1.0184,0.13,0.98,0.0,7.4,7.3,10.6
4,19600105,1,6,0.95,1.018,0.65,0.14,5.4,3.0,-0.7,...,4.3,3,0.80,1.0328,0.46,0.00,5.7,5.7,3.0,8.4

In [36]:
# Remove columns DATE and MONTH
df_drop_3=df_drop_2.drop(columns=['DATE', 'MONTH'], inplace=False)

In [37]:
df_drop_3.shape

(22950, 135)

In [38]:
df_drop_3.head()

,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,BASEL_temp_max,BELGRADE_cloud_cover,...,STOCKHOLM_temp_max,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,7,0.85,1.018,0.32,0.09,0.7,6.5,0.8,10.9,1,...,4.9,5,0.88,1.0003,0.45,0.34,4.7,8.5,6.0,10.9
1,6,0.84,1.018,0.36,1.05,1.1,6.1,3.3,10.1,6,...,5.0,7,0.91,1.0007,0.25,0.84,0.7,8.9,5.6,12.1
2,8,0.90,1.018,0.18,0.30,0.0,8.5,5.1,9.9,6,...,4.1,7,0.91,1.0096,0.17,0.08,0.1,10.5,8.1,12.9
3,3,0.92,1.018,0.58,0.00,4.1,6.3,3.8,10.6,8,...,2.3,7,0.86,1.0184,0.13,0.98,0.0,7.4,7.3,10.6
4,6,0.95,1.018,0.65,0.14,5.4,3.0,-0.7,6.0,8,...,4.3,3,0.80,1.0328,0.46,0.00,5.7,5.7,3.0,8.4

In [39]:
# Remove column DATE from Pleasnt weather data set
df_ans_drop=df_ans.drop(columns=['DATE'], inplace=False)

In [40]:
df_ans_drop.shape

(22950, 15)

In [42]:
df_ans_drop.head()

,BASEL_pleasant_weather,BELGRADE_pleasant_weather,BUDAPEST_pleasant_weather,DEBILT_pleasant_weather,DUSSELDORF_pleasant_weather,HEATHROW_pleasant_weather,KASSEL_pleasant_weather,LJUBLJANA_pleasant_weather,MAASTRICHT_pleasant_weather,MADRID_pleasant_weather,MUNCHENB_pleasant_weather,OSLO_pleasant_weather,SONNBLICK_pleasant_weather,STOCKHOLM_pleasant_weather,VALENTIA_pleasant_weather
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [43]:
# Export cleaned weather data set
df_drop_3.to_csv(os.path.join(path, 'Prepared Data', 'weather_cleaned.csv'))

In [44]:
# Export cleaned Pleasant weather data set
df_ans_drop.to_csv(os.path.join(path, 'Prepared Data', 'weather_answers_cleaned.csv'))